<!--<div>-->
  
  <!--<% @comments.each do |comment| %>-->
  <!--<div class="">-->
  <!--  <div class="container">-->
  <!--    <h5>メニュー：<%= comment.menu %></h5> -->
  <!--    <h5>コメント：<%= comment.body %></h5>-->
  <!--    <hr>-->
  <!--  </div>-->
      
  <!--</div>-->
  
<!--  <% if current_user == comment.user %>-->
<!--      <div class="text-right">-->
<!--      <%= link_to "Delete", store, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>-->
<!--      </div>-->
<!--  <% end %>-->
<!--  <% end %>  -->
  
<!--    <%= paginate stores %>-->
<!--</div>-->