<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>マイページ</h2>
  </div>
  
  <div class="card mb-3">
     <div class="row no-gutters">
            <div class="card" style= "width: 100%; margin-right:auto; margin-left:auto; ">
                <%= render 'stores/stores', stores: @stores %>
                
            </div>
     </div>
  </div>
  
  <div class="card mb-3">
     <div class="row no-gutters">
            <div class="card" style= "width: 100%; margin-right:auto; margin-left:auto; ">
                <%= render 'stores/stores', stores: @favorites %>
                
            </div>
     </div>
  </div>
  
 </div>
</div>
