<div id="whole" class="" style="padding: 50px 0px;">
 <div class="center jumbotron">
  <div class="text-center" style="padding: 50px;">
    <h2>マイページ</h2>
  </div>
  
  
  
  <div class="card mb-3">
     <div class="container no-gutters">
         <div class="text-center">
           <h3>お気に入り店舗</h3>
         </div>
         <br>
         <br>
         <!--<div class="card" style= "width: 100%; margin-right:auto; margin-left:auto; ">-->
                <h5><%= render 'stores/stores', stores: @favorites %></h5>
                
                
         <!--</div>-->
     </div>
  </div>
  
  <!--<div class="card mb-3">-->
  <!--   <div class="container no-gutters">-->
  <!--       <div class="text-center">-->
  <!--         <h3>マイコメント</h3>-->
  <!--       </div>-->
  <!--       <br>-->
  <!--       <br>-->
         <!--<div class="card" style= "width: 100%; margin-right:auto; margin-left:auto; ">-->

                
         <!--</div>-->
  <!--   </div>-->
  <!--</div>-->
  
  
  <!--<div class="card mb-3">-->
  <!--   <div class="container no-gutters">-->
  <!--       <div class="text-center">-->
  <!--         <h3></h3>-->
  <!--       </div>-->
  <!--       <br>-->
  <!--       <br>-->
  <!--       <div class="card">-->
  <!--           <h5><%= render 'stores/stores', stores: @stores %></h5>-->
             
  <!--       </div>-->
  <!--   </div>-->
  <!--</div>-->
  
 </div>
</div>
