<!DOCTYPE html>
<html lang="ja">
<body>
 <div id="whole">
  <div class="center jumbotron">
   <img src="../images/ramen_img1.jpeg" class="img-rounded img-responsive" alt="ラーメンイラスト">
      <div class="text-center">
        <h1>埼玉のラーメン店</h1>
        <h3>店舗情報/レビューでお気に入りを見つけよう！！</h3>
      </div>
  </div>
 </div>
<div id="footer" class="text-center mb-5">
  <a class="">お問い合わせ</a>
  <br></br>
  <h8>@ Takuya</h8>
</div>
</body>