<!DOCTYPE html>
<html lang="ja">
<body>
 <div id="whole" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="center jumbotron">
   <div style="border-radius: 50%; text-align: center;">
       <%= image_tag "/ramen_img1.jpeg" %>
   </div>
   <br>
   <div class="text-center">
        <h2>埼玉のラーメン店</h2>
        <h4>店舗情報/レビューでお気に入りを見つけよう！！</h4>
   </div>
  </div>
 </div>
 <div id="footer" class="text-center mb-5">
  <!--<a class="" href="/">お問い合わせ</a>-->
  <br></br>
  <p>@ Takuya</p>
 </div>
</body>